body {
    height : 100vh;
    width : 100vw;
    margin: 0;
}

header {
    display: flex;
    width: 100vw;
    height: 5vh;
    padding: 0%;
    background-color: var(--dark-col1);
    align-items: center;
}

.centre {
    display: flex;
    background: var(--light-col1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 5vh;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin: 0;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-col1);
    width: 5vh;
    height: 5vh;
    padding: 0;
    margin:0;
    font-family: 'Yeseva One', cursive;
    font-size: 3vh;
    background-color: var(--col1);
}


#logo:hover {
    background-color: var(--light-col1);
    color: var(--dark-col1);
    transition: 0.2s;
}

a:link {
    text-decoration: none
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    font-weight: 700;
    color: var(--dark-col1);
}

.champ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 20vw;
    height: 5vh;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-col1);
    width: 4vh;
    height: 4vh;
    padding: 0;
    margin:0;
    font-size: 4vh;
    transition: font-size 0.1s;
}

#password, #username {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid var(--dark-col1);
    background-color: var(--light-col1);
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    color: var(--dark-col1);
    transition: border-bottom 0.1s;
    outline: None;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password:hover, #username:hover {
    border-bottom: 2px solid var(--col1);
    transition: border-bottom 0.2s;
}

#password:invalid, #username:invalid {
    border-bottom: 2px solid red;
    transition: border-bottom 0.2s;
}

#connexion {
    width: 6vw;
    height: 4vh;
    border: none;
    border-radius: 2vh;
    background-color: var(--dark-col1);
    color: var(--light-col1);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vh;
    cursor: pointer;
    margin : 2vh;
    transition: background-color 0.1s;
}

#connexion:hover {
    background-color: var(--col1);
    transition: background-color 0.2s;
}

#msg {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;
    color: red;
    margin-top: 2vh;
}