body {
  height: 100vh;
  width: 100vw;
  color: var(--dark-col2);
  background: var(--light-col1);
  margin: 0;
}

header {
  display: flex;
  font-family: 'Yeseva One', cursive;
  text-align: left;
  font-size: 4vh;
  width: 100vw;
  height: 5vh;
  padding: 0%;
  background-color: var(--dark-col1);
  align-items: center;
}

#searchbar {
  padding-top: 0%;
  margin-top: 0%;
  width: 50vw;
  min-width: 50%;
  height: 1vh;
  min-height: 20px;
  text-align: left;
  border: 0;
  background: var(--light-col1);
  color: var(--dark-col2);
  outline: none;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius:5px;
}

#searchbar::selection {
  color: var(--light-col1);
  background: var(--dark-col1);
}

.recherche {
  display: flex;
  height:5vh;
  width:60vw;
  align-items: center;
}

.logo {
  height:5vh;
  width:20vw;
  padding-left: 2vw;
  color: var(--light-col1);
}

a:link {
  text-decoration: none;
}

#listeDocu a:link {
  text-decoration: none;
  color: var(--dark-col1);
}

#listeDocu a:visited {
  text-decoration: none;
  color: var(--dark-col1);
}

#listeDocu #etiquette:hover {
  background : white;
  transition: background 0.5s;
}

#listeDocu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#etiquette {
  border-color: var(--dark-col1);
  border-style: solid;
  border-width: 5px;
  margin: 2vw;
  padding: 1vw;
  border-radius: 1vw;
  transition: background 0.5s;
}

#etiquette h2 {
  color: var(--dark-col2);
  font-family: 'Yeseva One', cursive;
  margin : 0;
  padding: 0;
  font-size: 3vh;
}

#etiquette h3 {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  font-size: 2vh;
  
}

.deroulant{
  height:5vh;
  width:20vw;
  display: flex;
  align-items: center;
  justify-content: right;
  padding : 2vw;
  color :var(--light-col1);
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}

/* Navbar styling */

.navbar {
  display: flex;
  justify-content: right;
  position: relative;
}

.navbar-toggle {
  background-color: #c59894;
  color: #F0E1DE;
  border: none;
  padding: 10px 15px;
  font-size: 11px;
  cursor: pointer;
}

.navbar-toggle:hover {
  background-color: #c59894;
  color: #F0E1DE;
}

.navbar-links {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #c59894;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #F0E1DE;
  background-color: inherit;
  border: none;
  padding: 12px 16px;
  font-size: medium;
  cursor: pointer;
  font-family: 'Yeseva One', cursive;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #c59894;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #F0E1DE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: medium;
}

.dropdown-content a:hover {
  background-color: #F7C9B6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar:hover .navbar-links {
  display: block;
}

