@import url("style.css");

/* ===== ROOT ===== */

:root {
    --text-col1: hsl(var(--color1), 20%, 98%);
    --background-col1: hsl(var(--color1), 20%, 10%);
    --home-title-col1: hsl(var(--color1), 20%, 30%);
    --title-col1: hsl(var(--color1), 20%, 60%);
}



/* ===== LAYOUT ===== */

.bouton_theme {
    background-color: var(--dark-col1);
    color: var(--text-col1);
    border-radius: 50%;
    border: 3px solid var(--dark-col1);
}

.bouton_theme:hover {
    background-color: var(--background-col1);
}



/* ===== INDEX ===== */

.index_title {
    color: var(--home-title-col1);
}

.index_searchbar {
    border-color: var(--dark-col1);
    background-color: var(--background-col1);
}



/* ===== MENU ===== */

.listedocu_etiquette,
.listedocu_admin,
.legende {
    border-color: var(--dark-col1);
}

.listedocu_admin {
    background-color: var(--dark-col1);
}

.listedocu_admin_button {
    color: var(--text-col1);
}

.listedocu_admin_button:hover {
    color: var(--light-col1);
}

.listedocu_etiquette:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
}


/* ===== LOGIN ===== */

.illustration_login {
    background-color: var(--dark-col1);
}

#password, 
#username {
    background-color: var(--background-col1);
}


/* ===== UPLOAD ===== */

.bouton {
    color: var(--text-col1);
    background-color: var(--dark-col1);
    border: 2px solid var(--dark-col1);
}

.bouton:hover {
    background-color: var(--background-col1);
    transition: background-color 0.2s;
}

.champ, select {
    border: 2px solid var(--dark-col1);
}


/* ===== LOADER ===== */

.loader_wrapper {
    background: var(--background-col1);
}