body {
    height : 100vh;
    width : 100vw;
    margin: 0;
}

header {
    display: flex;
    width: 100vw;
    height: 5vh;
    padding: 0%;
    background-color: var(--dark-col1);
    align-items: center;
}

.material-symbols-outlined,
#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-col1);
    width: 5vh;
    height: 5vh;
    padding: 0;
    margin:0;
    font-size: 2.5vh;
    transition: font-size 0.1s;
}

.material-symbols-outlined:hover {
    background-color: var(--col1);
    transition: background-color 0.2s;
}

#logo {
    font-family: 'Yeseva One', cursive;
    font-size: 3vh;
    background-color: var(--col1);
}

#logo:hover {
    background-color: var(--light-col1);
    color: var(--dark-col1);
    transition: 0.2s;
  }

.centre {
    display: flex;
    background: var(--light-col1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

r {
    color: var(--col1);
}

h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 10vw;
    text-align: center;
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    color: var(--dark-col1);
    text-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

h2 {
    color: var(--light-col1);
    font-family: "Yeseva One", cursive;
    font-size: 4vh;
    margin-left: 1vh;
    padding: 0;
}

::selection {
    background-color: var(--col1);
    color: var(--light-col1);
}

r::selection {
    background-color: var(--col1);
    color: var(--dark-col1);
}

#searchbar {
    font-family: 'Montserrat', sans-serif;
    width: 40vw;
    min-width: 300px;

    height: 5vh;
    min-height: 20px;

    text-align: left;
    color: var(--dark-col2);

    border: 2px solid var(--light-col1);
    border-radius:2.5vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: var(--light-col1);
    outline: none;

    padding-left: 1vw;
    padding-right: 1vw;
    
    transition: box-shadow 0.1s;
}

#searchbar:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    transition: box-shadow 0.2s;
}

#searchbar:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
    transition: box-shadow 0.2s;
}

a:link {
    text-decoration: none
}

.logo {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 5vh;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin: 0;
}

.boxes {
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 0;
}
  
.box {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-col1);
    width: 5vw;
    height: 5vh;
    padding: 0;
    margin-right: 2vw;
    border-radius: 5px;
    font-size: 2.5vh;
    transition: text-shadow 0.1s;
}
  
.box:hover {
    font-size: 2.7vh;
    transition: text-shadow 0.2s;
}