body {
  font-family: 'Montserrat', sans-serif;
  width : 100vw;
  margin: 0;
}

header {
  display: flex;
  width: 100vw;
  height: 5vh;
  padding: 0%;
  background-color: var(--dark-col1);
  align-items: center;
}

.centre {
  display: flex;
  background: var(--light-col1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  color: var(--light-col1);
  font-family: "Yeseva One", cursive;
  font-size: 4vh;
  margin-left: 1vh;
  padding: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 5vh;
  align-items: center;
  justify-content: left;
  text-align: left;
  margin: 0;
}

.logs {
  width: 50vw;
  height: 5vh;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 0;
}

.annee,
.log,
#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-col1);
    width: 5vh;
    height: 5vh;
    padding: 0;
    margin:0;
    font-size: 2.5vh;
    transition: font-size 0.1s;
}

.annee:hover,
.log:hover {
    background-color: var(--col1);
    transition: background-color 0.2s;
}

.annee {
    font-family: 'Montserrat', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
}

#logo {
    font-family: 'Yeseva One', cursive;
    font-size: 3vh;
    background-color: var(--col1);
}

#logo:hover {
    background-color: var(--light-col1);
    color: var(--dark-col1);
    transition: 0.2s;
}

.boxes {
  width: 40vw;
  height: 5vh;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0;
  padding: 0;
}

.search_bar {
  display: flex;
  height: 5vh;
  width: 20vw;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#barre_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-col1);
  width: 5vw;
  height: 5vh;
  padding: 0;
  margin-right: 2vw;
  border-radius: 5px;
  font-size: 2.5vh;
  transition: font-size 0.1s;
}

#searchbar {
  font-family: 'Montserrat', sans-serif;
  width: 30vw;
  height: 2.6vh;

  padding: 0;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0;
  
  text-align: left;
  border: 0;
  background: var(--light-col1);
  color: var(--dark-col2);
  outline: none;

  border-radius: 1.3vh;
  font-size: 1.6vh;
}

::selection {
  background-color: var(--col1);
  color: var(--light-col1);
}

a:link, a:visited {
  text-decoration: none;
}

#etiquette:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  transition: box-shadow 0.2s;
}

.scroll {
  width: 100vw;
  height: 95vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

#listeDocu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  margin-top: 5vh;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

#etiquette {
  background-color: white;
  margin: 0vh;
  margin-bottom: 5vh;
  width: 80vw;
  padding: 1vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  text-align: left;
  transition: box-shadow 0.1s;
}

h2 {
  color: var(--dark-col1);
  font-size: large;
  margin: 0;
  
  padding: 0;
  font-size: 3vh;
}

h3 {
  color: var(--col1);
  margin:0;
  margin-bottom: 1vh;
  padding:0;
  font-size: 1.5vh;
}

h4 {
  color: var(--dark-col1);
  margin:0;
  padding:0;
  font-size: 2vh;
}

.deroulant{
  height:5vh;
  width:20vw;
  display: flex;
  align-items: center;
  justify-content: right;
  padding : 2vw;
  color :var(--light-col1);
}

/* Navbar styling */

.navbar {
  display: flex;
  justify-content: right;
  position: relative;
}

.navbar-toggle {
  background-color: var(--dark-col1);
  color: var(--light-col1);
  border: none;
  padding: 0;
  cursor: pointer;
}

.navbar-toggle:hover,
.dropbtn:hover,
.dropdown-content a:hover {
  background-color: var(--col1);
  transition: background-color 0.2s;
}

.navbar-links {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--dark-col1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: var(--light-col1);
  background-color: inherit;
  border: none;
  padding: 12px 16px;
  font-size: medium;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: var(--dark-col1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: var(--light-col1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: medium;
}

.navbar:hover .navbar-links {
  display: block;
}