@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400&familytitle-col=Roboto+Mono:wght@500&family=Yeseva+One&display=swap');

/* ===== VARIABLES ===== */

:root {
    --header-height: 2.5rem;

    /* === Couleurs === */
    --color1: 210;

    /* Variations */
    --col1: hsl(var(--color1), 20%, 52%);
    --dark-col1: hsl(var(--color1), 20%, 20%);
    --light-col1: hsl(var(--color1), 20%, 65%);
    --lighter-col1: hsl(var(--color1), 20%, 98%);
    --text-col1: hsl(var(--color1), 20%, 98%);
    

    --background-col: hsl(var(--color1), 20%, 10%);
    --title-col: hsl(var(--color1), 20%, 70%);

    --cm-col: #91AB79;
    --td-col: #7d71ca;

    /* === Police === */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Yeseva One', cursive;

    --big-font-size: 10rem;
    --title-font-size: 2.5rem;
    --icon-font-size: 1.8rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.1rem;
    --nav-font-size: 1.5rem;
    --normal-font-size: .9rem;
    --small-font-size: .8rem;
    --smaller-font-size: .75rem;

    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-bold: 600;

    /* === z-index === */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (max-width: 968px) {
    :root {
        --big-font-size: 5rem;
        --title-font-size: 2.5rem;
        --icon-font-size: 1.8rem;
        --h1-font-size: 1rem;
        --h2-font-size: .9rem;
        --normal-font-size: .8rem;
    }
}

/* ===== BASE ===== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--background-col);
    color: var(--text-col1);
}

h1 {
    color: var(--title-col);
    font-weight: var(--font-bold);
    font-size: var(--h1-font-size);
    display: inline-block;
}

h2 {
    color: var(--col1);
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
}

h3 {
    color: var(--light-col1);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    font-style: italic;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-family: var(--body-font);
}

h1::selection,
h2::selection,
p::selection,
b::selection,
a::selection {
    background-color: var(--col1);
    color: var(--lighter-col1);
}

/* ===== LAYOUT ===== */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--dark-col1);
    z-index: var(--z-fixed);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--header-height);
}

.nav_left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav_logo {
    font-family: var(--title-font);
    background-color: var(--col1);
}

.nav_logo::selection {
    background-color: var(--lighter-col1);
    color: var(--col1);
}

.nav_right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav_icon,
.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--header-height);
    height: var(--header-height);
    color: var(--lighter-col1);
    font-size: var(--icon-font-size);
    transition: background-color .2s, color .2s;
}

.nav_logo {
    color: var(--lighter-col1);
}

.nav_logo:hover {
    background-color: var(--background-col);
    color: var(--col1);
    transition: background-color .2s, color .2s;
}

.nav_icon:hover {
    background-color: var(--col1);
    transition: background-color .2s, color .2s;
}

/* @media screen and (max-width: 900px) {
    .header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--col1);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
        z-index: var(--z-fixed);
    }
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 2 * var(--header-height));
}

.container_title {
    font-family: var(--body-font);
    font-size: var(--title-font-size);
    font-weight: var(--font-bold);
    color: var(--title-col);
    margin-bottom: 1rem;
}

.container_title::selection {
    background-color: var(--col1);
    color: var(--lighter-col1);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bouton_theme {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: calc(var(--header-height) + 1rem);
    left: 1rem;
    border: none;
    background-color: var(--dark-col1);
    color: var(--text-col1);
    border-radius: 50%;
    border: 3px solid var(--dark-col1);
    padding: .5rem;
    font-size: var(--h1-font-size);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: background-color .1s;
}

.bouton_theme:hover {
    background-color: var(--background-col1);
    transition: background-color .2s;
}



/* ===== NAVBAR ===== */



.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: var(--z-modal);
}

@media screen and (max-width: 968px) {
    .navbar_pc {
        display: none;
    }
}

@media screen and (min-width: 968px) {
    .navbar_mobile {
        display: none;
    }
}

.navbar_toggle {
    background-color: var(--dark-col1);
    color: var(--lighter-col1);
    border: none;
    padding: 0;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: var(--z-modal);
}
  
.navbar_toggle:hover,
.dropbtn:hover,
.dropdown_content a:hover {
    background-color: var(--col1);
    transition: background-color 0.2s;
}
  
.navbar_links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--dark-col1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: var(--z-modal);
}
  
.dropdown {
    position: relative;
    display: inline-block;
    width:100%;
    z-index: var(--z-modal);
}
  
.dropbtn {
    color: var(--lighter-col1);
    background-color: inherit;
    border: none;
    padding: 12px 16px;
    font-size: medium;
    cursor: pointer;
    width:100%;
    font-family: var(--body-font);
    z-index: var(--z-modal);
}
  
.dropdown_content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--dark-col1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: var(--z-modal);
}
  
.dropdown:hover .dropdown_content {
    display: block;
}
  
.dropdown_content a {
    color: var(--lighter-col1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: medium;
}
  
.navbar:hover .navbar_links {
    display: block;
}

.navbar_annee {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    width: calc(var(--header-height)+ 1rem);
    font-family: var(--body-font);
    font-size: var(--nav-font-size);
    font-weight: var(--font-medium);
    z-index: var(--z-modal);
}



/* ===== INDEX ===== */

.main_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 2 * var(--header-height));
    width: 100vw;
}

.index_title {
    font-family: var(--title-font);
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    color: var(--title-col);
    text-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.index_title_alt {
    color: var(--col1);
}

.index_title::selection,
.index_title_alt::selection {
    background-color: var(--col1);
    color: var(--lighter-col1);
}

.searchbar {
    font-family: var(--body-font);
    text-align: left;
    color: var(--text-col1);
    background: var(--background-col);
    outline: none;
    
}

.searchbar::selection {
    background-color: var(--col1);
    color: var(--lighter-col1);
}

.index_searchbar {
    width: 40rem;
    height: 2.5rem;
    border: 2px solid var(--dark-col1);
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 0 1rem 0 1rem;
}

@media screen and (max-width: 968px) {
    .index_searchbar {
        width: 20rem;
    }
}


/* ===== MENU ===== */

.menu_searchbar {
    width: 50vw;
    height: 1.5rem;
    border: 0px;
    border-radius:2.5vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 0 1rem 0 1rem;
    border: 1px solid var(--dark-col1);
}

@media screen and (max-width: 968px) {
    .menu_searchbar{
        display: none;
    }
}

.menu_listedocu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.listedocu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    gap: 2rem;
}

.listedocu_item {
    text-align: left;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 2px solid var(--dark-col1);
    border-radius: .5rem;
    transition: box-shadow .1s;
}

.listedocu_item:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    transition: box-shadow .2s;
}

.listedocu_etiquette {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.pastille_titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.pastille_cm,
.pastille_td {
    background-color: var(--cm-col);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

.pastille_td {
    background-color: var(--td-col);
}

@media screen and (max-width: 968px) {
    .pastille_titre {
        gap: .5rem;
    }
    
    .pastille_cm,
    .pastille_td {
    width: .5rem;
    height: .5rem;
    }
}

.listedocu_desc {
    color: var(--text-col1);
    margin-top: 1rem;
}

.listedocu_admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 3rem;
    width: 100%;
    height: 2rem;
    padding: 1rem;
    background-color: var(--col1);
    border-radius: 0 0 .5rem .5rem;
}

.listedocu_admin_button {
    border: none;
    background-color: transparent;
    color: var(--lighter-col1);
    cursor: pointer;
    font-size: var(--h2-font-size);
    transition: color .1s;
}

.listedocu_admin_button:hover {
    color: var(--dark-col1);
    transition: color .2s;
}

.error_documents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--h1-font-size);
    color: var(--col1);
}

.error_icon {
    font-size: var(--big-font-size);
}

.legende {
    position: fixed;
    top: calc(var(--header-height) + 1rem);
    right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

@media screen and (max-width: 968px) {
    .legende{
        display: none;
    }
}

/* ===== ABOUT ===== */

.about {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    margin-top: 5%;
}

.about_barre {
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    color: #EFC1CB;
    background-color: var(--dark-col1);
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.about_barre::selection {
    background-color: #EFC1CB;
    color: var(--dark-col1);
}

.insta_link {
    color: var(--col1);
}

.insta_link:hover {
    color: #EFC1CB;
}



/* ===== LOGIN ===== */

.container_login {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    width: 30rem;
    height: 20rem;
}

.illustration_login {
    height: 100%;
    width: 10%;
    background-color: var(--col1);
}

.login {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    padding: 2rem;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.login_champ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.login_icon {
    font-size: var(--h1-font-size);
    color: var(--text-col1);
}

#password, 
#username {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--dark-col1);
    background-color: var(--background-col);
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
    color: var(--text-col1);
    transition: border-bottom 0.1s;
    outline: None;
}

#password:hover, 
#username:hover {
    border-bottom: 2px solid var(--col1);
    transition: border-bottom 0.2s;
}

#password:invalid, 
#username:invalid {
    border-bottom: 2px solid red;
    transition: border-bottom 0.2s;
}

#password::selection,
#username::selection {
    background-color: var(--col1);
    color: var(--lighter-col1);
}

#connexion {
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--dark-col1);
    color: var(--lighter-col1);
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
    cursor: pointer;
    transition: background-color 0.1s;
}

#connexion:hover {
    background-color: var(--col1);
    transition: background-color 0.2s;
}

.login_msg {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: red;
}

@media screen and (max-width: 968px) {

    .container_login {
        width: 20rem;
        height: 20rem;
        flex-direction: column;
    }

    .illustration_login {
        width:100%;
        height: 10%;
    }

    .login {
        width: 100%;
        height: 90%;
    }
}

/* ===== UPLOAD ===== */

.container_upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.upload_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    gap: 2rem;
}

input[type="file"] {
    display: none;
}

#depot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.bouton {
    font-family: var(--body-font);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-col1);
    background-color: var(--dark-col1);
    height: 2.5rem;
    font-size: var(--h2-font-size);
    transition: background-color 0.1s;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--dark-col1);
    cursor: pointer;
}

.bouton:hover {
    background-color: var(--background-col);
    transition: background-color 0.2s;
}

#champs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.champ {
    width:60%;
    height: 3rem;
    outline: none;
    border: 2px solid var(--dark-col1);
    background-color: var(--background-col1);
    color: var(--text-col1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    transition: box-shadow 0.1s;
}

#selections {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;
    width: 60%;
}

select {
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
    padding: .8rem 1rem .8rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--dark-col1);
    background-color: var(--background-col1);
    color: var(--text-col1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.1s;
}

.champ:hover,
select:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    transition: box-shadow 0.2s;
}

.option_upload {
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
    color: var(--text-col1);
    background-color: var(--background-col);
}

#boutonUpload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}

#boutonUpload::selection,
.bouton::selection,
.champ::selection {
    background-color: var(--col1);
    color: var(--lighter-col1);
}

.upload_msg {
    margin-top: 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    color: var(--col1);
}

/* ===== LOADER ===== */

.loader_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: var(--background-col);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
  
.loader_letter1 {
    font-family: var(--title-font);
    font-size: 6rem;
    color: var(--lighter-col1);
    animation: bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
}

.loader_letter2 {
    font-family: var(--title-font);
    font-size: 6rem;
    color: var(--lighter-col1);
    animation: bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    animation-delay:.05s;
}

.loader_letter3 {
    font-family: var(--title-font);
    font-size: 6rem;
    color: var(--lighter-col1);
    animation: bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    animation-delay:.10s;
}

.loader_letter4 {
    font-family: var(--title-font);
    font-size: 6rem;
    color: var(--col1);
    animation: bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    animation-delay:.15s;
}

.loader_letter5 {
    font-family: var(--title-font);
    font-size: 6rem;
    color: var(--lighter-col1);
    animation: bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    animation-delay:.20s;
}

.loader_letter6 {
    font-family: var(--title-font);
    font-size: 6rem;
    color: var(--lighter-col1);
    animation: bounce .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    animation-delay:.25s;
}

@keyframes bounce {
  0%{transform: translateY(0px);}
  100% {transform: translateY(-1em);}
}