<!DOCTYPE html>

<html lang="fr">
	<head>
		<title>Eurêka - 404</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
		/>
		{% if theme == "light" %}
		<link
			id="head-theme"
			rel="stylesheet"
			href="{{ url_for('static',filename='css/style.css')}}"
		/>
		{% elif theme == "dark" %}
		<link
			id="head-theme"
			rel="stylesheet"
			href="{{ url_for('static',filename='css/style-sombre.css')}}"
		/>
		{% else %}
		<link
			id="head-theme"
			rel="stylesheet"
			href="{{ url_for('static',filename='css/style-rose.css')}}"
		/>
		{% endif %}
		<link rel="icon" type="image/x-icon" href="/static/img/logo.png" />
	</head>

	<body>
		<!-- ===== MAIN ===== -->
		<main class="main" id="main">
			<div class="container container_404">
				<div class="container_404_erreur">
					<div class="letter_404_1">4</div>
					<div class="letter_404_2">0</div>
					<div class="letter_404_3">4</div>
				</div>
				<div class="container_404_text">
					<h1>Page introuvable</h1>
					<p>La page que vous recherchez n'existe pas ou a été déplacée.</p>
					<a href="{{ url_for('index') }}">Retour à l'accueil</a>
				</div>
			</div>
		</main>
	</body>
</html>
