{% extends 'layout.html' %}

{% block titre %}A propos{% endblock %}

{% block main %}

<script src="{{ url_for('static',filename='js/easter_egg.js')}}" defer></script>

<div class="center">
    <div class="about" id="about">
        <p>Version : 1.3</p>
        <h1>Qu'est-ce qu'Eurêka ?</h1>
        <p>
        Eurêka est un site web qui a pour vocation de fournir des fiches de travaux dirigés et de cours aux étudiants de la 
        spécialité ICy de l'école d'ingénieurs INSA Hauts-de-France avec l'accord des professeurs concernés. Le but du site est d'aider à la compréhension des cours 
        et à la révision des partiels.
        <br><br>
        <b>Avis aux étudiants : les cours varient selon les années, les documents sur le site ne sont donc que des supports. La présence en cours reste obligatoire.</b>
        <br><br>
        Pour trouver le document que vous
        recherchez, il suffit de rentrer les mots-clés correspondants ou de chercher en se servant 
        des catégories. Eurêka, vous avez trouvé...
        <br><br>
        Ce site n'est pas complet et n'aboutira pas à chaque recherche mais il est en constante
        évolution donc n'hésitez pas à chercher de nouveau plus tard.
        <br><br>
        La section "connexion" ne concerne pour l'instant que les administrateurs du site pour 
        permettre la gestion des documents.
        <br><br>
        <b>Ce site est un projet du club informatique de l'INSA Hauts-de-France, retrouvez-nous
        sur instagram : <a href="https://www.instagram.com/hdf_insa.sh/" class="insta_link">@hdf_insa.sh</a></b>
        <br><br>
        Réalisé par <a href="https://www.linkedin.com/in/bastien-ubassy/" class="insta_link">Bastien Ubassy</a> et <a href="https://www.linkedin.com/in/maxime-zimmermann/" class="insta_link">Maxime Zimmermann</a>.
        
        <div class="about_barre" id="about-barre">
            &nbsp&nbsp\\_//<br>
            .__/".<br>
            /__ |<br>
            || ||<br>
        </div>
    </div>
</div>


{% endblock %}