<!DOCTYPE html>

<html lang="fr">

  <head>
      <title>Accueil</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap" rel="stylesheet"> 
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="stylesheet" href="{{ url_for('static',filename='css/variables.css')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/style-sheet-accueil.css')}}">
  </head>

  <body>
    <header>
      <div class="logo">
        {% block matieres %}{% endblock %}
          <a href="{{ url_for('index') }}">
            <span id="logo">ê</span>
          </a>
          {% for i in range(3, 6) %}
            <div class="navbar">
              {% set anneeCours = i %}
              <a href = "{{ url_for('annee', annee=i) }}">
                <button class="navbar-toggle">
                  <div id="barre_nav"><span class="annee">
                    {{i}}A
                  </span></div>
                </button>
              </a>
              <div class="navbar-links">
                {% for j in range(1, 5) %}
                  <div class="dropdown">
                    <button class="dropbtn">P{{ j }}</button>
                    <div class="dropdown-content">
                      {% for key, val in listeMatieres[i-3][j-1].items() %}
                        <!-- decode utf-8 -->
                        {% set key = key.encode('latin-1').decode('utf-8') %}
                        <!-- changer index par matiere -->
                        <a href="{{ url_for('annee', annee=anneeCours, matiere=val) }}">{{ key }}</a>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
      </div>

      <div class="logs">
        {% if (not loggedin) %}
          <a href="{{ url_for('login') }}">
            <div class = "log">
                <span class="material-symbols-outlined">login</span>
            </div>
          </a>
        {% else %}
        <a href="{{ url_for('supp') }}">
          <div class = "log">
              <span class="material-symbols-outlined">delete</span>
          </div>
        </a>
          <a href="{{ url_for('home') }}">
            <div class = "log">
                <span class="material-symbols-outlined">upload</span>
            </div>
          </a>
          <a href="{{ url_for('logout') }}">
            <div class = "log">
                <span class="material-symbols-outlined">logout</span>
            </div>
          </a>
          
        {% endif %}
      </div>
    </header>

    <div class = "centre">
      <a href="{{ url_for('tout') }}"><h1>Eur<r>ê</r>ka</h1></a>
      <form method = "POST" class="recherche" action="{{ url_for('recherche') }}">
        <input ondrop="return false" autocomplete="off" id="searchbar" type="text" name="search" placeholder="Recherche...">
      </form>
    </div>
  </body>

</html>