{% extends 'layout.html' %}

{% block titre %}Accueil{% endblock %}

{% block matieres %} 

{% for i in range(3, 6) %}
    <div class="navbar">
        {% set anneeCours = i %}
        <div class="navbar_pc">
            <a href = "{{ url_for('annee', annee=i) }}" class="bandeau">
                <button class="navbar_toggle">
                    <div class="navbar_annee">
                    <span>{{i}}A</span>
                    </div>
                </button>
            </a>
        </div>

        <div class="navbar_mobile">
                <button class="navbar_toggle">
                    <div class="navbar_annee">
                    <span>{{i}}A</span>
                    </div>
                </button>
        </div>
        <div class="navbar_links">
            {% for j in range(1, 5) %}
                <div class="dropdown">
                    <button class="dropbtn">P{{ j }}</button>
                    <div class="dropdown_content">
                        {% for key, val in listeMatieres[i-3][j-1].items() %}
                            <a href="{{ url_for('annee', annee=anneeCours, matiere=val) }}">{{ key }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
    <div class="bouton_divers_div" id="bouton-divers-div">
        <a href="{{ url_for('divers') }}">
            <button class="bouton_divers" id="bouton-divers">Divers</button>
        </a>
    </div>

{% endblock %}

{% block main %}

<div class="main_center" id="main-center">
    <a href="{{ url_for('tout') }}">
        <div class="index_title" id="index_title">Eur<span class="index_title_alt">ê</span>ka</div>
    </a>
    <form method = "POST" class="index_form" action="{{ url_for('recherche') }}">
        <input class="searchbar index_searchbar" id="index-searchbar" ondrop="return false" autocomplete="off" type="text" name="search" placeholder="Rechercher avec des mots-clés...">
    </form>
</div>

{% endblock %}