<!DOCTYPE html>

<html lang="fr">

  <head>
      <title>Accueil</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/variables.css')}}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/style-sheet-accueil.css')}}">
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="{{ url_for('index') }}">ê</a>
      </div>
      <div class="boxes">
        {% for i in range(3, 6) %}
        <a href = "{{ url_for('annee', annee=i) }}">
          <div class = "box">
                {{i}}A
          </div>
        </a>
        {% endfor %}
      </div>
    </header>
    <div class = "centre">
      <a href="{{ url_for('tout') }}"><h1>Eur<r>ê</r>ka</h1></a>
      <form method = "POST" class="recherche" action="{{ url_for('recherche') }}">
        <input autocomplete="off" id="searchbar" type="text" name="search" placeholder="Recherche...">
      </form>
    </div>
  </body>

</html>