<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/variables.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style-sheet.css')}}">
    
</head>

<body class="fond-menu">
    <header>     
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <span id="logo">ê</span>
              </a>

              {% if (not loggedin) %}
              <a href="{{ url_for('login') }}">
                <div class = "log">
                    <span class="material-symbols-outlined">login</span>
                </div>
              </a>
              {% else %}
              <a href="{{ url_for('logout') }}">
                <div class = "log">
                    <span class="material-symbols-outlined">logout</span>
                </div>
              </a>
              {% endif %}
        </div>
        <div class ="search_bar">
            <form method = "POST" class="recherche" action="{{ url_for('recherche') }}">
                <input id="searchbar" type="text" name="search" placeholder="Recherche...">
            </form>
        </div>  
        <div class="boxes">
            {% for i in range(3, 6) %}
                <a href = "{{ url_for('annee', annee=i) }}">
                    <div class = "box">
                        {{i}}A
                    </div>
                </a>
            {% endfor %}
            {% block matieres %}{% endblock %}
        </div>
    </header>
    <div class = "centre">
        {% block liste %}{% endblock %}
    </div>
</body>

</html>