<!DOCTYPE html>

<html lang="fr">

<head>
    <title>Eurêka - {% block titre %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link id="head-theme" rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <link rel="icon" type="image/x-icon" href="/static/img/logo.png"/>
    <script>
        function toggleTheme() {
            var theme = document.getElementById('head-theme');
            var bouton = document.getElementById('icon-theme');
        
            if (theme.getAttribute('href') == "{{ url_for('static',filename='css/style.css')}}") {
                theme.setAttribute('href', "{{ url_for('static',filename='css/style-sombre.css')}}");
                bouton.setAttribute('class', 'uil uil-sun');
            } else {
                theme.setAttribute('href', "{{ url_for('static',filename='css/style.css')}}");
                bouton.setAttribute('class', 'uil uil-moon');
            }
        }
    </script>
</head>

<body>

    <!-- ===== HEADER ===== -->
    <header class="header" id="header">
        <nav class="nav_left" id="nav-left">
            <a href="{{ url_for('index') }}">
                <div class="nav_logo">
                    ê
                </div>
            </a>
            {% block matieres %}{% endblock %}
        </nav>
        
        {% block searchbar %}{% endblock %}

        <nav class="nav_right" id="nav-right">
            <a href="{{ url_for('about') }}">
                <div class = "icon nav_icon">
                    <i class="uil uil-info-circle"></i>
                </div>
            </a>
            {% if (not loggedin) %}
                <a href="{{ url_for('login') }}">
                    <div class = "icon nav_icon">
                        <i class="uil uil-sign-in-alt"></i>
                    </div>
                </a>
            {% else %}
                <a href="{{ url_for('upload') }}">
                    <div class = "icon nav_icon">
                        <i class="uil uil-file-export"></i>
                    </div>
                </a>
                <a href="{{ url_for('logout') }}">
                    <div class = "icon nav_icon">
                        <i class="uil uil-sign-out-alt"></i>
                    </div>
                </a>
            {% endif %}
        </nav>
    </header>

    <!-- ===== MAIN ===== -->
    <main class="main" id="main">
        <button class="bouton_theme" onclick="toggleTheme()">
            <i id="icon-theme" class="uil uil-moon"></i>
        </button>
        {% block main %}{% endblock %}
    </main>

    <!-- ===== FOOTER ===== -->
    <footer class="footer" id="footer">
        <p>2023 Eurêka | INSA Hauts-de-France</p>
    </footer>
</body>