{% extends 'layout.html' %}

{% block matieres %}
    <div class="navbar">
      {% set anneeCours = annee %}
        <button class="navbar-toggle">Matières</button>
        <div class="navbar-links">
          {% for i in range(1, 5) %}
            <div class="dropdown">
              <button class="dropbtn">Période {{ i }}</button>
              <div class="dropdown-content">
                {% for key, val in listeMatieres[i-1].items() %}
                  <!-- decode utf-8 -->
                  {% set key = key.encode('latin-1').decode('utf-8') %}
                  <!-- changer index par matiere -->
                  <a href="{{ url_for('annee', annee=anneeCours, matiere=val) }}">{{ key }}</a>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
{% endblock %}
      

{% block liste %}
      <div class ="scroll">
          <ul id = 'listeDocu'>
              {% for docu in listeDocu %}
                  <li><a href="{{ url_for('static', filename = 'pdf/' + docu[0] + '.pdf') }}"download>
                      <div id ='etiquette'>
                          <h2>{{docu[0]}}.pdf</h2>
                          <h3>{{docu[1]}}</h3>
                      </div>
                      </a>
                  </li>
              {% endfor %}
          </ul>
      </div>
{% endblock %}

</html>