{% extends 'layout.html' %}

{% block titre %}Documents{% if annee != 0 %} {{annee}}A{% endif %}{% endblock %}

{% block matieres %} 

    {% for i in range(3, 6) %}
    <div class="navbar">
        {% set anneeCours = i %}
        <div class="navbar_pc">
            <a href = "{{ url_for('annee', annee=i) }}" class="bandeau">
                <button class="navbar_toggle">
                    <div class="navbar_annee">
                    <span>{{i}}A</span>
                    </div>
                </button>
            </a>
        </div>

        <div class="navbar_tab">
                <button class="navbar_toggle">
                    <div class="navbar_annee">
                    <span>{{i}}A</span>
                    </div>
                </button>
        </div>
        
        <div class="navbar_links">
            {% for j in range(1, 5) %}
                <div class="dropdown">
                    <button class="dropbtn">P{{ j }}</button>
                    <div class="dropdown_content">
                        {% for key, val in listeMatieres[i-3][j-1].items() %}
                            <a href="{{ url_for('annee', annee=anneeCours, matiere=val) }}">{{ key }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="bouton_divers_div" id="bouton-divers-div">
        <a href="{{ url_for('divers') }}">
            <button class="bouton_divers" id="bouton-divers">Divers</button>
        </a>
    </div>


{% endblock %}

{% block searchbar %} 
<form method = "POST" class="menu_form" action="{{ url_for('recherche') }}">
    <input class="searchbar menu_searchbar" id="menu-searchbar" ondrop="return false" autocomplete="off" type="text" name="search" placeholder="Rechercher avec des mots-clés...">
</form> 
{% endblock %}

{% block main %}
<div class="menu_listedocu" id="menu_listedocu">
    <ul class="listedocu" id="listedocu">
        {% if listeDocu %}
            {% for docu in listeDocu %}
                <li class="listedocu_item">
                    <a href="{{ url_for('static', filename = 'pdf/' + docu[0] + '.pdf') }}" target="_blank">
                        <div class="listedocu_etiquette" id="listedocu-etiquette" {% if loggedin %} style="border-radius: .5rem .5rem .5rem 0;" {% endif %}>
                            <div class="pastille_titre" id="pastille-titre">
                            {% if docu[4] == 'CM' %}<span class="pastille_cm" id="pastille-cm"></span>
                            {% elif docu[4] == 'TD' %}<span class="pastille_td" id="pastille-td"></span>
                            {% else %}<span class="pastille_divers" id="pastille-divers"></span>
                            {% endif %}
                            <h1>{{docu[0]}}</h1></div>
                            <h2>{{docu[1]}}</h2>
                            {% set done = [] %}
                            <h3>{% if docu[3] != 6%}
                                {{docu[3]}}A - 
                                {% for j in range(1, 5) if docu[3]!= 6 %}
                                    {% for key, val in listeMatieres[docu[3]-3][j-1].items() %}
                                        {% if docu[2] == val and val not in done %}
                                            {{key}}
                                            {% set done = done.append(val) %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %} - {{docu[4]}}</h3>
                                {% else %}
                                Divers </h3>
                                {% endif %}
                            <p class="listedocu_desc">{{docu[5]}}</p>
                        </div>
                    </a>
                    {% if loggedin %}
                        <div class="listedocu_admin">
                            <a href="{{ url_for('suppPost', titre = docu[0], auteur = docu[1], description = docu[5]) }}" id="suppression-document">
                                <div class="listedocu_admin_button" >
                                    <i class="uil uil-trash-alt listedocu_admin_icon"></i>
                                </div>
                            </a>
                            <a href="{{ url_for('modification', titre = docu[0], auteur = docu[1], description = docu[5]) }}">
                                <div class="listedocu_admin_button">
                                    <i class="uil uil-edit listedocu_admin_icon"></i>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <div class="error_documents" id="error_documents">
                <i class="uil uil-file-exclamation error_icon"></i>
                <br>
                Oups, aucun document à afficher...
            </div>
        {% endif %} 
    </ul>
</div>
<div class="legende">

        <span class="pastille_cm" id="pastille-cm"></span>
        <p>CM</p>

        <span class="pastille_td" id="pastille-td"></span>
        <p>TD</p>

        <span class="pastille_divers" id="pastille-divers"></span>
        <p>Divers</p>

</div>

<div class="loader_wrapper">
    <span class="loader_letter1">E</span>
    <span class="loader_letter2">u</span>
    <span class="loader_letter3">r</span>
    <span class="loader_letter4">ê</span>
    <span class="loader_letter5">k</span>
    <span class="loader_letter6">a</span>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(window).on('load', function() {
        setTimeout(function() {
            $('.loader_wrapper').fadeOut("slow");
        }, 250);
    });
</script>

{% endblock %}